/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --light-purple: #ac7ff4;
  --dark-purple: #713fc2;
  --darkest: #000511;
  --dark: #001c3b;
  --mid: #00386c;
  --light: #0057a1;
  --highlight: #117fda;
  --dark-text: #ffff;
  --light-text: #0000;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  line-height: inherit;
}
