// Replace with css custom properties

// Colors
$light-purple: #ac7ff4;
$dark-purple: #713fc2;
$darkest: #000511;
$dark: #001c3b;
$mid: #00386c;
$light: #0057a1;
$highlight: #117fda;
$dark-text: #ffff;
$light-text: #0000;

// Media query breakpoints
$screen-sm-min: 769px;
$screen-md-min: 1025px;
$screen-lg-min: 1441px;
