.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.centerPiece {
  max-width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
}

.centerPiece:hover {
  -webkit-filter: drop-shadow(0 0 1rem var(--highlight));
  filter: drop-shadow(0 0 1rem var(--highlight));
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.header li a {
  color: white;
  font-size: 1vw;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--highlight);
}

@media (max-width: 80em) {
  .header li {
    display: inline-block;
  }

  .header li a {
    font-size: 3vw;
  }
}
