.footerText {
  color: white;
  display: block;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0 0.5rem;
}

.highlight {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--light-purple);
}

.footerText span:not(.spacer) {
  display: block;
}

.spacer {
  /* display: none; */
  padding: 0 15px;
}

footer {
  position: fixed;
  min-width: 100vw;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0;
  gap: auto;
}

.footerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

span {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
