@use '../../../../../../scss/variables.scss' as variables;

.item {
  text-decoration: none;
  color: variables.$highlight;
  font-size: 1.3rem;
  transition: color 0.3s ease;

  &:hover {
    color: white;
  }

  &:active {
    color: white;
  }
}
