/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1, .h1{
    @apply text-dark-text text-center m-0;
  }
  
  h2, .h2 {
  @apply text-dark-text m-0 font-normal;
  }
  
  h3, .h3{
    @apply text-dark-text m-0;
  }
  
  p, .p{
      @apply text-dark-text m-0;
  }

  html, .html{
    @apply h-screen font-serif leading-none 
  }

  body, .body{
    @apply min-h-screen p-0 m-0 bg-darkest text-dark-text overflow-x-hidden
  }
}

@font-face {
  font-display: auto;
  font-family: "Spectral Regular";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/spectral-regular.woff2") format(woff2);
}