/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  .h1 {
    @apply m-0 text-center text-dark-text;
  }

  h2,
  .h2 {
    @apply m-0 font-normal text-dark-text;
  }

  h3,
  .h3 {
    @apply m-0 text-dark-text;
  }

  p,
  .p {
    @apply m-0 text-dark-text;
  }

  html,
  .html {
    @apply h-screen font-serif leading-none;
  }

  body,
  .body {
    @apply m-0 min-h-screen overflow-x-hidden bg-darkest p-0 text-dark-text;
  }
}

@font-face {
  font-display: auto;
  font-family: "Spectral Regular";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/spectral-regular.woff2") format(woff2);
}
