@use '../../scss/variables.scss' as variables;
@use '../../scss/mixins.scss' as mixins;

.container {
  .desktop {
    opacity: 0;
    pointer-events: none;

    @include mixins.desktop {
      opacity: 1;
      pointer-events: all;
    }
  }

  .mobile {
    opacity: 1;
    pointer-events: all;

    @include mixins.desktop {
      opacity: 0;
      pointer-events: none;
    }
  }
}
